###############################################################
##  Location constraints for the Parallella-I board
##  3/12/14 F. Huettig
####
## This file defines pin locations & standards for the Parallella-I
##   and Zynq 7020.  See the file parallella_z70x0_loc.ucf
##    for all other pins.
###############################################################

##################################
# IOs to be used with zc7020 ONLY
##################################
NET "GPIO12_P" LOC = "Y12";
NET "GPIO12_N" LOC = "Y13";
NET "GPIO13_P" LOC = "W11";
NET "GPIO13_N" LOC = "Y11";
NET "GPIO14_P" LOC = "V11";
NET "GPIO14_N" LOC = "V10";
NET "GPIO15_P" LOC = "T9" ;
NET "GPIO15_N" LOC = "U10";
NET "GPIO16_P" LOC = "W10";
NET "GPIO16_N" LOC = "W9" ;
NET "GPIO17_P" LOC = "U9" ;
NET "GPIO17_N" LOC = "U8" ;
NET "GPIO18_P" LOC = "V8" ;
NET "GPIO18_N" LOC = "W8" ;
NET "GPIO19_P" LOC = "Y9" ;
NET "GPIO19_N" LOC = "Y8" ;
NET "GPIO20_P" LOC = "Y7" ;
NET "GPIO20_N" LOC = "Y6" ;
NET "GPIO21_P" LOC = "U7" ;
NET "GPIO21_N" LOC = "V7" ;
NET "GPIO22_P" LOC = "V6" ;
NET "GPIO22_N" LOC = "W6" ;
NET "GPIO23_P" LOC = "T5" ;
NET "GPIO23_N" LOC = "U5" ;

