###############################################################
##  Location constraints for the Parallella-I board
##  3/12/14 F. Huettig
####
## This file defines pin locations & standards for the Parallella-I
##   and Zynq 7010 or 7020.  See the file parallella_z7020_loc.ucf
##    for pins added with the 7020.
## Timing constraints are defined elsewhere.
###############################################################

#  NOTE:  IOSTANDARDS for e-link and gpio have been removed
#    from these files.  IOSTANDARDS are to be set in the 
#    verilog instead.

#######################
# HDMI constraints
#######################

NET HDMI_D8  	    LOC = Y18  | IOSTANDARD = LVCMOS25;
NET HDMI_D9  	    LOC = W18  | IOSTANDARD = LVCMOS25;
NET HDMI_D10 	    LOC = V18  | IOSTANDARD = LVCMOS25;
NET HDMI_D11 	    LOC = V15  | IOSTANDARD = LVCMOS25;
NET HDMI_D12 	    LOC = R18  | IOSTANDARD = LVCMOS25; 
NET HDMI_D13 	    LOC = P18  | IOSTANDARD = LVCMOS25;
NET HDMI_D14 	    LOC = Y19  | IOSTANDARD = LVCMOS25;
NET HDMI_D15 	    LOC = W19  | IOSTANDARD = LVCMOS25;
NET HDMI_D16 	    LOC = W15  | IOSTANDARD = LVCMOS25;
NET HDMI_D17 	    LOC = T19  | IOSTANDARD = LVCMOS25;
NET HDMI_D18 	    LOC = R19  | IOSTANDARD = LVCMOS25;
NET HDMI_D19 	    LOC = P19  | IOSTANDARD = LVCMOS25;
NET HDMI_D20 	    LOC = W20  | IOSTANDARD = LVCMOS25;
NET HDMI_D21 	    LOC = V20  | IOSTANDARD = LVCMOS25;
NET HDMI_D22 	    LOC = U20  | IOSTANDARD = LVCMOS25;   
NET HDMI_D23 	    LOC = T20  | IOSTANDARD = LVCMOS25;
NET HDMI_CLK        LOC = R17  | IOSTANDARD = LVCMOS25;
NET HDMI_VSYNC      LOC = V17  | IOSTANDARD = LVCMOS25;
NET HDMI_HSYNC      LOC = T17  | IOSTANDARD = LVCMOS25;
NET HDMI_DE         LOC = Y17  | IOSTANDARD = LVCMOS25;
NET HDMI_SPDIF      LOC = Y16  | IOSTANDARD = LVCMOS25;
NET HDMI_INT        LOC = P20  | IOSTANDARD = LVCMOS25;

#####################
# I2C
#####################
NET PS_I2C_SCL      LOC = N18  | IOSTANDARD = LVCMOS25;
NET PS_I2C_SDA      LOC = N17  | IOSTANDARD = LVCMOS25;

#####################
# MISC
#####################
NET TURBO_MODE      LOC = R16  | IOSTANDARD = LVCMOS25;
NET PROG_IO         LOC = N20  | IOSTANDARD = LVCMOS25;

#####################
# Epiphany Interface
#####################
NET "RXI_CCLK_P"     LOC = "H16";
NET "RXI_CCLK_N"     LOC = "H17";
NET "DSP_RESET_N"    LOC = "G14" | IOSTANDARD = LVCMOS25 | DRIVE = 2;
#NET "DSP_FLAG"      LOC = "J15" | IOSTANDARD = LVCMOS25;
NET "RXI_LCLK_P"     LOC = "F16";
NET "RXI_LCLK_N"     LOC = "F17";
NET "RXI_DATA0_P"    LOC = "B19";
NET "RXI_DATA0_N"    LOC = "A20";
NET "RXI_DATA1_P"    LOC = "C20";
NET "RXI_DATA1_N"    LOC = "B20";
NET "RXI_DATA2_P"    LOC = "D19";
NET "RXI_DATA2_N"    LOC = "D20";
NET "RXI_DATA3_P"    LOC = "E18";
NET "RXI_DATA3_N"    LOC = "E19";
NET "RXI_DATA4_P"    LOC = "E17";
NET "RXI_DATA4_N"    LOC = "D18";
NET "RXI_DATA5_P"    LOC = "F19";
NET "RXI_DATA5_N"    LOC = "F20";
NET "RXI_DATA6_P"    LOC = "G17";
NET "RXI_DATA6_N"    LOC = "G18";
NET "RXI_DATA7_P"    LOC = "G19";
NET "RXI_DATA7_N"    LOC = "G20";
NET "RXI_FRAME_P"    LOC = "H15";
NET "RXI_FRAME_N"    LOC = "G15";
NET "RXO_RD_WAIT"    LOC = "J15" | IOSTANDARD = LVCMOS25;
#NET "RXO_RD_WAIT_N" LOC = "H17";
NET "RXO_WR_WAIT_P"  LOC = "J18";
NET "RXO_WR_WAIT_N"  LOC = "H18";
NET "TXO_LCLK_P"     LOC = "K17";
NET "TXO_LCLK_N"     LOC = "K18";
NET "TXO_DATA0_P"    LOC = "K19";
NET "TXO_DATA0_N"    LOC = "J19";
NET "TXO_DATA1_P"    LOC = "L14";
NET "TXO_DATA1_N"    LOC = "L15";
NET "TXO_DATA2_P"    LOC = "L16";
NET "TXO_DATA2_N"    LOC = "L17";
NET "TXO_DATA3_P"    LOC = "M14";
NET "TXO_DATA3_N"    LOC = "M15";
NET "TXO_DATA4_P"    LOC = "L19";
NET "TXO_DATA4_N"    LOC = "L20";
NET "TXO_DATA5_P"    LOC = "M19";
NET "TXO_DATA5_N"    LOC = "M20";
NET "TXO_DATA6_P"    LOC = "M17";
NET "TXO_DATA6_N"    LOC = "M18";
NET "TXO_DATA7_P"    LOC = "N15";
NET "TXO_DATA7_N"    LOC = "N16";
NET "TXO_FRAME_P"    LOC = "J20";
NET "TXO_FRAME_N"    LOC = "H20";
NET "TXI_RD_WAIT_P"  LOC = "K14";
NET "TXI_RD_WAIT_N"  LOC = "J14";
NET "TXI_WR_WAIT_P"  LOC = "K16";
NET "TXI_WR_WAIT_N"  LOC = "J16";

#######################
# GPIO
#  First 12 pairs are present on all parts, next 12 on 7020 only
#######################
NET "GPIO0_P"  LOC = "T16";
NET "GPIO0_N"  LOC = "U17";
NET "GPIO1_P"  LOC = "V16";
NET "GPIO1_N"  LOC = "W16";
NET "GPIO2_P"  LOC = "P15";
NET "GPIO2_N"  LOC = "P16";
NET "GPIO3_P"  LOC = "U18";
NET "GPIO3_N"  LOC = "U19";
NET "GPIO4_P"  LOC = "P14";
NET "GPIO4_N"  LOC = "R14";
NET "GPIO5_P"  LOC = "T14";
NET "GPIO5_N"  LOC = "T15";
NET "GPIO6_P"  LOC = "U14";
NET "GPIO6_N"  LOC = "U15";
NET "GPIO7_P"  LOC = "W14";
NET "GPIO7_N"  LOC = "Y14";
NET "GPIO8_P"  LOC = "U13";
NET "GPIO8_N"  LOC = "V13";
NET "GPIO9_P"  LOC = "V12";
NET "GPIO9_N"  LOC = "W13";
NET "GPIO10_P" LOC = "T12";
NET "GPIO10_N" LOC = "U12";
NET "GPIO11_P" LOC = "T11";
NET "GPIO11_N" LOC = "T10";

