#############################################################################
#  File: parallella64_prototype.ucf
# 
#  This file is part of the Parallella FPGA Reference Design.
#
#  Copyright (C) 2013 Adapteva, Inc.
#  Contributed by Roman Trogan <support@adapteva.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program (see the file COPYING).  If not, see
#  <http://www.gnu.org/licenses/>.
#############################################################################

#################
# FMC Interface
#################
# rxi lclk 
NET "rxi_lclk_p" LOC = "M19" | IOSTANDARD = PPDS_25; #FMC1 G6
NET "rxi_lclk_n" LOC = "M20" | IOSTANDARD = PPDS_25; #FMC1 G7
# rxi data
NET "rxi_data_p[0]" LOC = "N19" | IOSTANDARD = PPDS_25; #FMC1 D8
NET "rxi_data_n[0]" LOC = "N20" | IOSTANDARD = PPDS_25; #FMC1 D9
NET "rxi_data_p[1]" LOC = "P17" | IOSTANDARD = PPDS_25; #FMC1 H7
NET "rxi_data_n[1]" LOC = "P18" | IOSTANDARD = PPDS_25; #FMC1 H8
NET "rxi_data_p[2]" LOC = "N22" | IOSTANDARD = PPDS_25; #FMC1 G9
NET "rxi_data_n[2]" LOC = "P22" | IOSTANDARD = PPDS_25; #FMC1 G10
NET "rxi_data_p[3]" LOC = "M21" | IOSTANDARD = PPDS_25; #FMC1 H10
NET "rxi_data_n[3]" LOC = "M22" | IOSTANDARD = PPDS_25; #FMC1 H11
NET "rxi_data_p[4]" LOC = "J18" | IOSTANDARD = PPDS_25; #FMC1 D11
NET "rxi_data_n[4]" LOC = "K18" | IOSTANDARD = PPDS_25; #FMC1 D12
NET "rxi_data_p[5]" LOC = "L21" | IOSTANDARD = PPDS_25; #FMC1 C10
NET "rxi_data_n[5]" LOC = "L22" | IOSTANDARD = PPDS_25; #FMC1 C11
NET "rxi_data_p[6]" LOC = "T16" | IOSTANDARD = PPDS_25; #FMC1 H13
NET "rxi_data_n[6]" LOC = "T17" | IOSTANDARD = PPDS_25; #FMC1 H14
NET "rxi_data_p[7]" LOC = "J21" | IOSTANDARD = PPDS_25; #FMC1 G12
NET "rxi_data_n[7]" LOC = "J22" | IOSTANDARD = PPDS_25; #FMC1 G13
#rxi frame
NET "rxi_frame_p" LOC = "R20" | IOSTANDARD = PPDS_25; #FMC1 D14
NET "rxi_frame_n" LOC = "R21" | IOSTANDARD = PPDS_25; #FMC1 D15
#rxi waits
NET "rxi_rd_wait_p" LOC = "R19" | IOSTANDARD = PPDS_25; #FMC1 C14
NET "rxi_rd_wait_n" LOC = "T19" | IOSTANDARD = PPDS_25; #FMC1 C15
NET "rxi_wr_wait_p" LOC = "N17" | IOSTANDARD = PPDS_25; #FMC1 H16
NET "rxi_wr_wait_n" LOC = "N18" | IOSTANDARD = PPDS_25; #FMC1 H17
# txo lclk 
NET "txo_lclk_p" LOC = "B19" | IOSTANDARD = PPDS_25; #FMC1 D20
NET "txo_lclk_n" LOC = "B20" | IOSTANDARD = PPDS_25; #FMC1 D21
# txo data
NET "txo_data_p[0]" LOC = "D20" | IOSTANDARD = PPDS_25; #FMC1 C22
NET "txo_data_n[0]" LOC = "C20" | IOSTANDARD = PPDS_25; #FMC1 C23
NET "txo_data_p[1]" LOC = "G15" | IOSTANDARD = PPDS_25; #FMC1 H22
NET "txo_data_n[1]" LOC = "G16" | IOSTANDARD = PPDS_25; #FMC1 H23
NET "txo_data_p[2]" LOC = "G20" | IOSTANDARD = PPDS_25; #FMC1 G21
NET "txo_data_n[2]" LOC = "G21" | IOSTANDARD = PPDS_25; #FMC1 G22
NET "txo_data_p[3]" LOC = "E19" | IOSTANDARD = PPDS_25; #FMC1 H25
NET "txo_data_n[3]" LOC = "E20" | IOSTANDARD = PPDS_25; #FMC1 H26
NET "txo_data_p[4]" LOC = "G19" | IOSTANDARD = PPDS_25; #FMC1 G24
NET "txo_data_n[4]" LOC = "F19" | IOSTANDARD = PPDS_25; #FMC1 G25
NET "txo_data_p[5]" LOC = "E15" | IOSTANDARD = PPDS_25; #FMC1 D23
NET "txo_data_n[5]" LOC = "D15" | IOSTANDARD = PPDS_25; #FMC1 D24
NET "txo_data_p[6]" LOC = "A18" | IOSTANDARD = PPDS_25; #FMC1 H28
NET "txo_data_n[6]" LOC = "A19" | IOSTANDARD = PPDS_25; #FMC1 H29
NET "txo_data_p[7]" LOC = "D22" | IOSTANDARD = PPDS_25; #FMC1 G27
NET "txo_data_n[7]" LOC = "C22" | IOSTANDARD = PPDS_25; #FMC1 G28
#txo frame
NET "txo_frame_p" LOC = "F18" | IOSTANDARD = PPDS_25; #FMC1 D26
NET "txo_frame_n" LOC = "E18" | IOSTANDARD = PPDS_25; #FMC1 D27
#txo waits
NET "txo_rd_wait_p" LOC = "E21" | IOSTANDARD = PPDS_25; #FMC1 C26
NET "txo_rd_wait_n" LOC = "D21" | IOSTANDARD = PPDS_25; #FMC1 C27
NET "txo_wr_wait_p" LOC = "A16" | IOSTANDARD = PPDS_25; #FMC1 H31
NET "txo_wr_wait_n" LOC = "A17" | IOSTANDARD = PPDS_25; #FMC1 H32
#
# Controls
#
# Reset
NET "aafm_resetn" LOC = "P20" | IOSTANDARD=LVCMOS25; #FMC1 G15
# Flags
NET "aafm_flag0" LOC = "P21" | IOSTANDARD=LVCMOS25; #FMC1 G16
NET "aafm_flag1" LOC = "M17" | IOSTANDARD=LVCMOS25; #FMC1 D18
NET "aafm_flag2" LOC = "K20" | IOSTANDARD=LVCMOS25; #FMC1 C19
NET "aafm_flag3" LOC = "J17" | IOSTANDARD=LVCMOS25; #FMC1 H20
# I2C
NET "aafm_i2c_scl" LOC = "A22" | IOSTANDARD=LVCMOS25; #FMC1 H38
NET "aafm_i2c_sda" LOC = "B22" | IOSTANDARD=LVCMOS25; #FMC1 G37
# Coord
NET "aafm_xid0" LOC = "C17" | IOSTANDARD=LVCMOS25; #FMC1 G30
NET "aafm_xid1" LOC = "C15" | IOSTANDARD=LVCMOS25; #FMC1 H34
NET "aafm_xid2" LOC = "B16" | IOSTANDARD=LVCMOS25; #FMC1 G33
NET "aafm_yid0" LOC = "C18" | IOSTANDARD=LVCMOS25; #FMC1 G31
NET "aafm_yid1" LOC = "B15" | IOSTANDARD=LVCMOS25; #FMC1 H35
NET "aafm_yid2" LOC = "B17" | IOSTANDARD=LVCMOS25; #FMC1 G34
# CPLD CTRL
NET "aafm_ctrl[0]" LOC = "L17" | IOSTANDARD=LVCMOS25; #FMC1 D17
NET "aafm_ctrl[1]" LOC = "K19" | IOSTANDARD=LVCMOS25; #FMC1 C18
NET "aafm_ctrl[2]" LOC = "J16" | IOSTANDARD=LVCMOS25; #FMC1 H19
# CPLD MISC
NET "aafm_misc[0]" LOC = "A21" | IOSTANDARD=LVCMOS25; #FMC1 H37
NET "aafm_misc[1]" LOC = "B21" | IOSTANDARD=LVCMOS25; #FMC1 G36
NET "aafm_misc[2]" LOC = "J20" | IOSTANDARD=LVCMOS25; #FMC1 G18
NET "aafm_misc[3]" LOC = "K21" | IOSTANDARD=LVCMOS25; #FMC1 G19

##################################
# DIP SWITCH, LED and Push Button
##################################
#NET "gpio_dip_sw[0]" LOC = "W6"  | IOSTANDARD=LVCMOS25; #SW12 pin 2
#NET "gpio_dip_sw[1]" LOC = "W7"  | IOSTANDARD=LVCMOS25; #SW12 pin 1
#NET "user_led[0]"  LOC = "E15" | IOSTANDARD=LVCMOS25; #DS19
#NET "user_led[1]"  LOC = "D15" | IOSTANDARD=LVCMOS25; #DS20
NET "user_pb[0]"   LOC = "T18" | IOSTANDARD=LVCMOS25; #BTNU
NET "user_pb[1]"   LOC = "R18" | IOSTANDARD=LVCMOS25; #BTNR

#######################
# HDMI constraints
#######################
#NET hdmi_clk        LOC = W18  | IOSTANDARD = LVCMOS25;
#NET hdmi_vsync      LOC = W17  | IOSTANDARD = LVCMOS25;
#NET hdmi_hsync      LOC = V17  | IOSTANDARD = LVCMOS25;
#NET hdmi_data_e     LOC = U16  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[0]    LOC = Y13  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[1]    LOC = AA13 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[2]    LOC = AA14 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[3]    LOC = Y14  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[4]    LOC = AB15 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[5]    LOC = AB16 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[6]    LOC = AA16 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[7]    LOC = AB17 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[8]    LOC = AA17 | IOSTANDARD = LVCMOS25;
#NET hdmi_data[9]    LOC = Y15  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[10]   LOC = W13  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[11]   LOC = W15  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[12]   LOC = V15  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[13]   LOC = U17  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[14]   LOC = V14  | IOSTANDARD = LVCMOS25;
#NET hdmi_data[15]   LOC = V13  | IOSTANDARD = LVCMOS25;
#NET hdmi_spdif      LOC = U15  | IOSTANDARD = LVCMOS25;
#NET hdmi_int        LOC = W16  | IOSTANDARD = LVCMOS25;

#NET iic_scl         LOC = AA18 | IOSTANDARD="LVCMOS25";
#NET iic_sda         LOC = Y16  | IOSTANDARD="LVCMOS25";

#NET otg_reset         LOC = G17  | IOSTANDARD="LVCMOS25";
#NET otg_vbusoc         LOC = L16  | IOSTANDARD="LVCMOS25";

################################
# LEDs
################################
NET user_led[0]           LOC = T22  | IOSTANDARD=LVCMOS25;  # "LD0"
NET user_led[1]           LOC = T21  | IOSTANDARD=LVCMOS25;  # "LD1"
NET user_led[2]           LOC = U22  | IOSTANDARD=LVCMOS25;  # "LD2"
NET user_led[3]           LOC = U21  | IOSTANDARD=LVCMOS25;  # "LD3"
NET user_led[4]           LOC = V22  | IOSTANDARD=LVCMOS25;  # "LD4"
NET user_led[5]           LOC = W22  | IOSTANDARD=LVCMOS25;  # "LD5"
NET user_led[6]           LOC = U19  | IOSTANDARD=LVCMOS25;  # "LD6"
NET user_led[7]           LOC = U14  | IOSTANDARD=LVCMOS25;  # "LD7"

#######################
# Internal constraints
#######################
NET "rxi_lclk_p" TNM_NET = "rxi_lclk_p";
TIMESPEC "TS_rxi_lclk_p" = PERIOD "rxi_lclk_p" 6.6ns HIGH 50% INPUT_JITTER 100ps;

NET "parallella/ewrapper_link_top/io_tx/CLK_IN" TNM_NET = "CLK_IN";
TIMESPEC "TS_CLK_IN" = PERIOD "CLK_IN" 10ns HIGH 50% INPUT_JITTER 100ps;

NET "parallella/ewrapper_link_top/io_tx/CLK_IN_90" TNM_NET = "CLK_FWD_IN";
TIMESPEC "TS_CLK_FWD_IN" = PERIOD "CLK_FWD_IN" 10ns HIGH 50% INPUT_JITTER 100ps;

INST "parallella/axi_elink_if/fpgacfg/reset_chip_reg_4" TNM = "SW_RESET";
TIMESPEC "TS_SW_RESET" = FROM "SW_RESET" TIG;

#INST "rst_sync*" ASYNC_REG = TRUE;
#PIN "CLK_RESET" TIG;
#PIN "IO_RESET" TIG;

NET "system_stub/system_i/processing_system7_0/FCLK_CLK3" TNM_NET = clk_fpga_3;
TIMESPEC TS_clk_fpga_3 = PERIOD clk_fpga_3 40000 kHz;

NET "system_stub/system_i/processing_system7_0/FCLK_CLK2" TNM_NET = clk_fpga_2;
TIMESPEC TS_clk_fpga_2 = PERIOD clk_fpga_2 200000 kHz;

NET "system_stub/system_i/processing_system7_0/FCLK_CLK1" TNM_NET = clk_fpga_1;
TIMESPEC TS_clk_fpga_1 = PERIOD clk_fpga_1 200000 kHz;

NET "system_stub/system_i/processing_system7_0/FCLK_CLK0" TNM_NET = clk_fpga_0;
TIMESPEC TS_clk_fpga_0 = PERIOD clk_fpga_0 100000 kHz;
