############
# KiCad backup files
autosave*
*.bak
*.bck
*.kicad_pcb-bak

## XML files generated for BOM
*.xml

## Intermediate STL files for 3D models
*.stl

## not sure if we should save the generated netlists?
*.net

