/*
/*/

!.gitignore
!*.xpr
!*.wcfg

!elink2new_testbench.sim/

!elink2new_testbench.srcs/
elink2new_testbench.srcs/*

!elink2new_testbench.srcs/sources_1/
elink2new_testbench.srcs/sources_1/*

!elink2new_testbench.srcs/sources_1/bd/
elink2new_testbench.srcs/sources_1/bd/*

!elink2new_testbench.srcs/sources_1/bd/elink_testbench/
elink2new_testbench.srcs/sources_1/bd/elink_testbench/*
!elink2new_testbench.srcs/sources_1/bd/elink_testbench/*.bd
!elink2new_testbench.srcs/sources_1/bd/elink_testbench/*.bxml
!elink2new_testbench.srcs/sources_1/bd/elink_testbench/ip/
!elink2new_testbench.srcs/sources_1/bd/elink_testbench/ui/

